# AI & Agents
langchain
langgraph
langchain-openai
langchain-community
openai

# Data & Vector DB
chromadb
pypdf
jinja2
python-dotenv
sentence_transformers
pydantic
# UI & Utilities
streamlit
pydantic
