# AI & Agents
openai

# Data & Vector DB
chromadb
pypdf
jinja2
python-dotenv
sentence_transformers
pydantic
pydantic-settings
# UI & Utilities
streamlit
tqdm
requests
pandas
#server
fastapi
uvicorn
python-multipart

# Dev tooling
ruff

# Database
sqlalchemy
